*.pyc
*.pth
*.tar
*.sub
*.npy
*.jpg
*.png
*.zip
*.egg-info
*.npz
main.sh
checkpoints*
visualize/*
!visualize/*.py
log/*
config/*
models/spynet_models/*
dockers/*
test_script.sh
kitti_data/*
datasets/mnist/
datasets/svhn/
results/*
pretrained/*
models/RAFT/dist
models/RAFT/datasets
models/RAFT/pytorch_env
models/RAFT/models
models/RAFT/build
models/RAFT/correlation.egg-info
models/monodepth2/kitti_data
models/monodepth2/models